@import '../styles/variables';

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: $spacing-unit * 2;

  h1 {
    color: $primary-color;
    margin-bottom: $spacing-unit * 2;
  }

  p {
    text-align: center;
    max-width: 600px;
  }
}